<h1>Job Manager</h1>

<nav>
    Logged in as: <%= @user.email%>
    <br>
    <%= link_to 'New Job', new_job_path%>
    <%= link_to 'Jobs', jobs_path%>
    <%= link_to 'Logout', logout_path, method:'delete'%>
</nav>