<h1>All Current Jobs</h1>

<% @jobs.each do |job| %>
<p>
    <%= link_to job.title, job_path(job) %> by <%= job.user.email%>
    <br>
    <strong>tool count:</strong> (<%=job.tools.count%>)
    <br>
    </p>
<%end%>
